@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@300;400;500;700&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ffffff;
  background-color: #14141d;
}

span {
  color: #e6bf3f;
  font-family: 'Outfit';
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.nav-links {
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-links:hover {
  color: #e6bf3f;
}

.favorites,
.watchlist,
.login-page {
  margin: 30px auto;
}

.now-playing-header {
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 50px auto;
}
