@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@300;400;500;700&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  min-height: 100vh;
  color: #ffffff;
  background: #14141d;
}

.header-span,
.star {
  color: #e6bf3f;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-family: 'Outfit';
}

.nav-links {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-links:hover {
  color: #e6bf3f;
}

nav a.active {
  color: #e6bf3f;
}

.favorites,
.watchlist {
  margin-top: 50px;
}

.favorites > p {
  color: #ffffff;
}

.watchlist > p {
  color: #ffffff;
}

.home,
.results {
  margin-bottom: 75px;
}

.welcome {
  color: #ffffff;
  text-align: right;
}

.welcome > p {
  color: #ffffff;
}

.email-span {
  text-decoration: underline;
  color: #ffffff;
}

.logout-btn {
  font-size: 16px;
  border: none;
  background: transparent;
  color: #b9b9b9;
}

.logout-btn:hover {
  color: #e6bf3f;
  transition: 0.3s;
}

.now-playing-header {
  margin: 35px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.swiper {
  margin-top: 20px;
  --swiper-navigation-color: #ffffff;
  --swiper-scrollbar-size: 5px;
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-drag-bg-color: #fdfdfdad;
}

.swiper-img {
  cursor: pointer;
}

.search-container {
  text-align: center;
  margin: 100px 0;
}

.search-header {
  text-align: center;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.search {
  text-align: center;
  padding: 20px;
  padding-top: 25px;
}

.search-input {
  width: 50%;
  height: 3rem;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.search-input:hover {
  background: rgba(255, 255, 255, 0.055);
  transition: 0.3s;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: #d6d6d6;
  font-size: 1rem;
}

.search-btn {
  height: 3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #14141d;
  cursor: pointer;
  background: #e6bf3f;
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  color: #14141d;
  background: #ffffff;
}

.results > p {
  text-align: center;
  font-size: 1.15rem;
}

.results-header {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 600;
}

.popular-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.movie-card {
  border-radius: 3px;
  height: auto;
  width: 17rem;
  border: none;
  color: #ffffff;
  background: #4f538549;
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: #464d997e;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.308);
  transition: all 0.4s ease-in-out;
}

.movie-card-body {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
}

.movie-card-title {
  font-size: 1.15rem;
  padding-bottom: 3px;
}

.movie-card-rating {
  font-size: 1.15rem;
  color: #ffffff;
  margin-top: -26px;
}

.movie-card-image,
.swiper-img {
  width: 100%;
  height: 100%;
}

.star {
  padding-right: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2,
h4 {
  font-family: 'Poppins', sans-serif;
}

p {
  color: #b9b9b9;
  padding-top: 10px;
  font-size: 1.25rem;
}

.underline {
  color: #e6bf3f;
}

.signup-page {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card {
  padding: 5px;
}

.signup-btn {
  font-weight: 600;
  background: #f0c63dad;
  border: none;
  color: #14141d;
}

.signup-btn:hover {
  color: #14141d;
  background: #f0c63d;
}
.login-page {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-card {
  padding: 5px;
}

.signin-btn {
  font-weight: 600;
  background: #f0c63dad;
  border: none;
  color: #14141d;
}

.signin-btn:hover {
  color: #14141d;
  background: #f0c63d;
}

.pagination {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 40px;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}

.pagination > p {
  color: #ffffff;
}

.previous,
.next {
  font-weight: 500;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: #14141d;
  cursor: pointer;
  background: #e6bf3f;
  transition: all 0.3s ease-in-out;
}

.previous:hover,
.next:hover {
  background: #ffffff;
  color: #14141d;
}

.previous.disabled,
.next.disabled {
  cursor: not-allowed;
  background: #e6bf3f77;
}
