@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  color: #ffffff;
  background-color: #14141d;
}

span {
  color: #cfaa2f;
  font-family: 'Outfit';
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.nav-links {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-links:hover {
  color: #cfaa2f;
}
